@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* CSS REST https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END OF CSS RESET */

:root {
  --gradient-color-dark: #785f37;
  --gradient-color-medium: #a08c5b;
  --graient-color-light: #cbb682;
}

html {
  height: 100%;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  display: flex;
}

h1 {
  font-family: 'Dancing Script';
  font-weight: 700;
  font-size: 50px;
}

header p {
  text-align: center;
  font-family: 'Dancing Script';
}

main {
  padding: 0 80px;
}

main div {
  /* width: 85%; */
  /* margin: 0 auto; */
}

main div:not(:last-of-type) {
  margin-bottom: 10px;
  border-bottom: 3px solid var(--graient-color-light);
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  /* text-align: center; */

  /* width: 85%; */
  /* margin: 0 auto; */
}

h2 {
  text-align: center;
}

h5 {
  font-size: 15px;
}

li {
  padding: 2px 0;
}

li:not(:last-child) {
  border-bottom: 1px dotted var(--gradient-color-dark);
}

.grid_container {
  height: 1100px;
  width: 776px;
  /* background-color: hotpink; */
  background-image: repeating-linear-gradient(
    135deg,
    var(--gradient-color-dark),
    var(--gradient-color-dark) 10px /* determines size */,
    var(--gradient-color-medium) 10px,
    var(--gradient-color-medium) 100px,
    var(--graient-color-light) 100px,
    var(--graient-color-light) 120px,

    white 120px,
    white 1100px /* var(--gradient-color-dark) 1100px */
      /* var(--gradient-color-dark) 1110px  determines size  */
  );
  margin: auto;
  display: grid;
  grid-template-rows: max-content auto max-content;
  border: 2px solid var(--gradient-color-dark);
}

header {
  width: 100%;
}

header h1 {
  margin: 0 auto;
  text-align: center;
}

.drinks {
  width: 70%;
}

.sub {
  font-style: italic;
  font-size: 14px;
}

footer {
  display: flex;
  padding: 10px;
  border-top: 2px solid var(--gradient-color-dark);
  width: 72%;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  /* border-top: 1px solid black; */
}

.footer_logo p:first-of-type {
  font-family: 'Dancing Script';
  font-size: 30px;
}

.footer_logo p:last-of-type {
  font-size: 12px;
}

.footer_icon {
  margin: 0 auto 0 150px;
  /* border-top: 1px solid black; */
}

.footer_icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon ion-icon {
  /* vertical-align: middle; */
  /* height: max-content; */
}

.footer_icon ul li {
  border-bottom: none;
}

.icon_span {
  display: flex;
  font-size: 40px;
}
.mooch {
  color: hsl(66, 77%, 22%);
  font-size: 18px;
  font-family: 'Alfa Slab One', cursive;
}
